<html>
<head>
    <title>Login Page</title>
    <Link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style1.css')}}">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a href="#"><b>WELCOME</b></a></li>
            </ul>
        </div>
        <div class="content">
            <h1>TIME SERIES ANALYSIS</h1>
            <p>The one and only site for your Data Forecasting...</p>
            <div>
                <br><br>
                <form id="Prediction_form" action="/sign_up" method="POST" enctype="multipart/form-data">
                <input type= submit name='Submit' class='button' value='Upload Data'/>
            </div>
        </div>
    </div>
</table>
</form>
</body>
</html>