h1
	{
	text-align:center;
	
	text-color:navy blue;
	
	color:White;
	font-family:  'Alegreya Sans',sans-serif;	
	opacity:1;
	}
	


p
	{
	text-align:center;
	font-family:  'Alegreya Sans',sans-serif;
 	text-color:blue;

	}
.dates{
	text-color:blue;
	font-family:  'Alegreya Sans',sans-serif;	

}

body{
background-color:#3CB371;
}
.divider{
	background-color:black;
	opacity: 0.6;
	height:10px;
}

.sample{
  color:white;
  font-size:26px;
  text-align: left;
}
#sample1{
  color:white;
  font-size:16px;
}


img.imgsize{
	
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 60%;
  
	
}
img.imgsize1{
  
  display: block;
  margin-left: auto;
    margin-right: auto;
    text-align:left;
    width:60%;
    height:50%;
  
}
.boxed {
  border: 2px solid black;
   border: 5px solid blue;
}
img.imgsize2{
  
  display: block;
  margin-left: auto;
    margin-right: auto;
    text-align:right;
    width: 40%;
    height: 40%;
  
  
}
.button {
	background-color:#f4511e;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  
  border: none;
  color: white;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.button:hover {
  background-color: green;

  color: white;
}
.button1 {
	background-color:#f4511e;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  float: left;
  border: none;
  color: white;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.button1:hover {
  background-color: green;

  color: white;
}
.button2 {
	background-color:#f4511e;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  float: right;
  border: none;
  color: white;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.button2:hover {
  background-color: green;

  color: white;
}


.intro-header{
background-size : cover;
width:100%;
height:100%;

}

